<div class="mdt-chat-card mdt-item-card mdt-concept-card">
  <header class="mdt-chat-card-header">
    <h3 class="item-card-name">{{localize "MDT.concept"}}</h3>
  </header>
  <div class="item-card-desc mdt-concept-chat-body">{{concept}}</div>
</div>
