<form>
  <div class="form-group">
    <label>{{localize "MDT.roll.difficulty"}}</label>
    <select name="difficulty">
      {{#each difficulties}}
        <option value="{{this.key}}">{{localize this.label}}</option>
      {{/each}}
    </select>
  </div>
</form>