{{!-- Mesmo layout que character-sheet.hbs (template ativo em actor-sheet.js). --}}
<form class="{{cssClass}} mad-dragon-turbo" autocomplete="off">
  {{> mdt/character-header}}
  {{> mdt/character-tabs-nav}}

  <section class="sheet-body">
    <div class="tab characteristics" data-group="primary" data-tab="characteristics">
      {{> mdt/character-tab-characteristics}}
    </div>

    <div class="tab diary" data-group="primary" data-tab="diary">
      {{> mdt/character-tab-diary}}
    </div>
  </section>
</form>
