<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="characteristics" data-group="primary">
        {{localize "MDT.sheet.tabCharacteristics"}}
    </a>
    <a class="item" data-tab="diary" data-group="primary">
        {{localize "MDT.sheet.tabDiary"}}
    </a>
</nav>